In [1]:
import pandas as pd

In [3]:
orders = pd.read_csv('https://raw.githubusercontent.com/delinai/uot_automation/main/customer_orders.csv')
am = pd.read_csv('https://raw.githubusercontent.com/delinai/uot_automation/main/account_managers.csv')

In [5]:
orders.head()

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,NaN,NaN,NaN,NaN
1,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,NaN,NaN,NaN,NaN
2,2022-01-03,1001,John Adams,john@email.com,13,Brand2,NaN,NaN,NaN,NaN
3,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,NaN,NaN,NaN,NaN
4,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,NaN,NaN,NaN,NaN

In [6]:
am.head()

    brand account_manager
0     ABC          Johnny
1  Brand2           Timmy
2      DT           Sammy

In [7]:
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [8]:
updated_orders = pd.merge(left=orders, right=am, left_on='brand', right_on='brand')

In [11]:
updated_orders.drop('account_manager_x', axis=1, inplace=True)
updated_orders.rename(columns={'account_manager_y':'account_manager'}, inplace=True)

In [12]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,NaN,NaN,NaN,Johnny
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,NaN,NaN,NaN,Johnny
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,NaN,NaN,NaN,Johnny
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,NaN,NaN,NaN,Johnny
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,NaN,NaN,NaN,Johnny
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,NaN,NaN,NaN,Johnny
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,NaN,NaN,NaN,Johnny
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,NaN,NaN,NaN,Johnny
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,NaN,NaN,NaN,Timmy
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,NaN,NaN,NaN,Timmy
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,NaN,NaN,NaN,Timmy
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,NaN,NaN,NaN,Timmy
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,NaN,NaN,NaN,Sammy
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,NaN,NaN,NaN,Sammy

In [13]:
action_dict = {12:'Follow-up with Cx', 14:'Follow-up with Cx', 13:'Ship Product', 15:'Ship Product'}

In [16]:
updated_orders['next_action'] = updated_orders['product_id'].map(action_dict)

In [18]:
updated_orders.head()

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny

In [24]:
for i in updated_orders['order_date']:
    print(i.day_name())

Saturday
Tuesday
Wednesday
Thursday
Friday
Sunday
Monday
Thursday
Sunday
Monday
Saturday
Tuesday
Wednesday
Friday

In [25]:
updated_orders['weekday_name'] = updated_orders['order_date'].dt.day_name()

In [27]:
updated_orders.head()

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny,Saturday
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny,Tuesday
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny,Wednesday
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny,Thursday
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny,Friday

In [33]:
import datetime
from datetime import date

In [34]:
def delivery_date(weekday_name, order_date):
    if weekday_name == 'Thursday':
        return order_date + datetime.timedelta(days=4)
    elif weekday_name == 'Friday':
        return order_date + datetime.timedelta(days=4)
    elif weekday_name == 'Saturday':
        return order_date + datetime.timedelta(days=3)
    else:
        return order_date + datetime.timedelta(days=2)

In [35]:
updated_orders['delivery_date'] = updated_orders.apply(lambda x: delivery_date(x['weekday_name'], x['order_date']), axis=1)

In [ ]:
def update_date(x):
    delivery_date(x['weekday_name'],x['order_date'])

In [36]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,NaN,Johnny,Saturday
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,NaN,Johnny,Tuesday
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,NaN,Johnny,Wednesday
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,NaN,Johnny,Thursday
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Friday
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Sunday
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,2022-01-12,NaN,Johnny,Monday
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-17,NaN,Johnny,Thursday
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,2022-01-04,NaN,Timmy,Sunday
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,2022-01-05,NaN,Timmy,Monday
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-11,NaN,Timmy,Saturday
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-13,NaN,Timmy,Tuesday
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-14,NaN,Sammy,Wednesday
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-18,NaN,Sammy,Friday

In [37]:
updated_orders['day'] = updated_orders['order_date'].apply(lambda x: x.day)

In [39]:
updated_orders.head()

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,NaN,Johnny,Saturday,1
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,NaN,Johnny,Tuesday,4
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,NaN,Johnny,Wednesday,5
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,NaN,Johnny,Thursday,6
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Friday,7

In [40]:
# if we don't want to use lambda, we can also store a defined function and use apply() to apply to it to the data frame
def day(x):
    return x.day

In [44]:
updated_orders['day_2'] = updated_orders['order_date'].apply(day)

In [46]:
updated_orders.head()

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day,day_2
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,NaN,Johnny,Saturday,1,1
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,NaN,Johnny,Tuesday,4,4
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,NaN,Johnny,Wednesday,5,5
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,NaN,Johnny,Thursday,6,6
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Friday,7,7

### An example of unit tests

In [47]:
# unit testing
assert day(date(2022,1,13)) == 13

In [51]:
def day_2(x):
    return x.day + 1

In [52]:
day_2(date(2022,1,13))

14

In [53]:
assert day_2(date(2022,1,13)) == 13

AssertionError:

In [54]:
list1 = [12, 14, 15, 68, 3, 25] # sorted list [3, 12, 14, 15, 25, 68]

In [59]:
def find_median(lst):
    length = len(lst)
    index = (length - 1) // 2

    if (length % 2):
        return lst[index]
    else:
        return (lst[index] + lst[index + 1])/2.0

In [60]:
# unit test would tell me that the function is not working properly, I expect the output to be 14.5 but I have an assertation error
assert find_median(list1) == 14.5

AssertionError:

In [61]:
find_median(list1)

41.5

In [62]:
# my function is missing a sort() argument, thus the output is wrong
def find_median(lst):
    lst.sort()
    length = len(lst)
    index = (length - 1) // 2

    if (length % 2):
        return lst[index]
    else:
        return (lst[index] + lst[index + 1])/2.0

In [63]:
assert find_median(list1) == 14.5 # now we fixed the function and we have a pass

### Back to our dataframe

In [66]:
updated_orders.drop('day_2', axis=1, inplace=True)

In [68]:
updated_orders.head()

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,NaN,Johnny,Saturday,1
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,NaN,Johnny,Tuesday,4
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,NaN,Johnny,Wednesday,5
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,NaN,Johnny,Thursday,6
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Friday,7

In [69]:
def delivery_route(x):
    if x >= 1 and x <= 10:
        return "UPS"
    elif x>=11 and x<=20:
        return "Canada Post"
    else:
        return "FedEx"

In [70]:
updated_orders['delivery_route'] = updated_orders['day'].apply(delivery_route)

In [71]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,UPS,Johnny,Saturday,1
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,UPS,Johnny,Tuesday,4
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,UPS,Johnny,Wednesday,5
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,UPS,Johnny,Thursday,6
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,UPS,Johnny,Friday,7
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,2022-01-11,UPS,Johnny,Sunday,9
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,2022-01-12,UPS,Johnny,Monday,10
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-17,Canada Post,Johnny,Thursday,13
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,2022-01-04,UPS,Timmy,Sunday,2
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,2022-01-05,UPS,Timmy,Monday,3
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-11,UPS,Timmy,Saturday,8
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-13,Canada Post,Timmy,Tuesday,11
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-14,Canada Post,Sammy,Wednesday,12
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-18,Canada Post,Sammy,Friday,14

In [72]:
updated_orders['email'] = updated_orders['email'].fillna('Missing Email')

In [73]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,UPS,Johnny,Saturday,1
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,UPS,Johnny,Tuesday,4
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,UPS,Johnny,Wednesday,5
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,UPS,Johnny,Thursday,6
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,UPS,Johnny,Friday,7
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,2022-01-11,UPS,Johnny,Sunday,9
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,2022-01-12,UPS,Johnny,Monday,10
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-17,Canada Post,Johnny,Thursday,13
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,2022-01-04,UPS,Timmy,Sunday,2
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,2022-01-05,UPS,Timmy,Monday,3
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-11,UPS,Timmy,Saturday,8
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-13,Canada Post,Timmy,Tuesday,11
12,2022-01-12,1004,Carly Copeland,Missing Email,15,DT,Ship Product,2022-01-14,Canada Post,Sammy,Wednesday,12
13,2022-01-14,1004,Carly Copeland,Missing Email,15,DT,Ship Product,2022-01-18,Canada Post,Sammy,Friday,14

In [74]:
# create 2 final lists: customers that we need to follow-up with, and customers to ship the product to
follow_up = updated_orders[(updated_orders['next_action'] == 'Follow-up with Cx') | (updated_orders['email'] == 'Missing Email')]

In [75]:
follow_up

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,UPS,Johnny,Saturday,1
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,UPS,Johnny,Tuesday,4
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,UPS,Johnny,Wednesday,5
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,UPS,Johnny,Thursday,6
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,UPS,Johnny,Friday,7
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,2022-01-11,UPS,Johnny,Sunday,9
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,2022-01-12,UPS,Johnny,Monday,10
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-17,Canada Post,Johnny,Thursday,13
12,2022-01-12,1004,Carly Copeland,Missing Email,15,DT,Ship Product,2022-01-14,Canada Post,Sammy,Wednesday,12
13,2022-01-14,1004,Carly Copeland,Missing Email,15,DT,Ship Product,2022-01-18,Canada Post,Sammy,Friday,14

In [78]:
ship = updated_orders[(updated_orders['next_action'] == 'Ship Product') & (updated_orders['email'] != 'Missing Email')]

In [79]:
# store to csv
ship.to_csv('/users/filepath/file.csv')

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,2022-01-04,UPS,Timmy,Sunday,2
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,2022-01-05,UPS,Timmy,Monday,3
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-11,UPS,Timmy,Saturday,8
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-13,Canada Post,Timmy,Tuesday,11